
@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
<style>
    .paddingleftright{
padding-left:0px !important;
padding-right:0px !important;
    }
</style>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
    <title>Invoicepdfheader</title>*@
</head>
<body>
    <br /><br /><br />
    <div class="col-sm-12 paddingleftright">
        <div class="col-sm-12 paddingleftright">
            <table class="table" id="TableHeader" style="border-top: 2px solid white;">
                <tr>
                    <td>
                        <img src="~/Content/Images/IBW logo.png" style="height:130px;width:350px;"/>
                    </td>
                    <td style="text-align:right;">
                        <b><label style="font-weight:700;font-family:sans-serif;font-size:30px;"><br /><br />INVOICE</"></label></b>
                    </td>
                </tr>
            </table>
        </div>
        </div>
</body>
</html>
